/* color*/
/*page-menu*/
/* animation fade-in*/
/*search-bar*/
/*gallery-restaurants*/
/*search-bar*/
/*gallery-restaurants homepage*/
/*page-menu form*/
/*checkbox cursor animation*/
/* responsive*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
html {
  font-size: 62, 5%;
}

body {
  margin: 0 auto;
  font-family: "Roboto", arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: relative;
}
@media screen and (min-width: 992px) {
  body {
    font-size: 100%;
    width: auto;
    min-height: 100vh;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: auto;
    font-size: 160%;
  }
}

h1, h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  h1, h2 {
    font-size: 130%;
  }
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 110%;
  }
}

a {
  text-decoration: none;
  color: #000;
}

.button-primary {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 10px 20px -5px rgba(53, 53, 53, 0.5);
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .button-primary {
    padding: 1.5rem;
    border-radius: 2.5rem;
  }
}
.button-primary:active {
  box-shadow: 0px 10px 20px -2px rgba(53, 53, 53, 0.6);
  filter: brightness(110%);
}
@media screen and (min-width: 992px) {
  .button-primary:hover {
    box-shadow: 0px 10px 20px -2px rgba(53, 53, 53, 0.6);
    filter: brightness(110%);
  }
}

/* animation css icon-like*/
.icon-like {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 0;
  z-index: 0;
}
.icon-like .empty-heart {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.icon-like .empty-heart > .border {
  opacity: 1;
  transition: opacity 0.1s linear 0.9s;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .icon-like .empty-heart > .border {
    font-size: 130%;
  }
}
.icon-like .empty-heart > .full-heart {
  background: linear-gradient(purple, pink);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  transform: scale(0);
  transition: transform 1s linear, opacity 0.4s ease-out;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}
.icon-like .empty-heart > .full-heart i {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .icon-like .empty-heart > .full-heart i {
    font-size: 130%;
  }
}
.icon-like .empty-heart:hover:active .border {
  opacity: 0;
}
.icon-like .empty-heart:hover:active > .full-heart {
  transform: scale(1);
  opacity: 1;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .icon-like .empty-heart:hover .border {
    opacity: 0;
  }
  .icon-like .empty-heart:hover > .full-heart {
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
  }
}

/*header*/
header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 100%;
  }
}
header > .header__logo {
  display: flex;
  position: relative;
  top: 5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  header > .header__logo {
    top: 10px;
  }
}
header > .header__logo .logo-svg {
  padding: 0.8rem;
  width: 10rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  header > .header__logo .logo-svg {
    padding: 2rem;
    width: 300px;
    height: 45px;
  }
}
header button {
  background: none;
  border: none;
  color: #353535;
  text-shadow: 0rem -0.01rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  header button {
    top: 37%;
    font-size: 130%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  body {
    width: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    width: auto;
  }
}
@media screen and (min-width: 992px) {
  main {
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
  }
}

/*booking-menu*/
.booking-menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #f6f6f6;
  appearance: none;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .booking-menu {
    width: 100vw;
  }
}
.booking-form {
  display: flex;
  flex-direction: column;
  color: #353535;
}
.booking-form__search-bar {
  display: flex;
  flex-direction: row;
  background: linear-gradient(#c4c4c4, rgba(234, 234, 234, 0.4) 10%, #eaeaea);
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .booking-form__search-bar {
    height: 5rem;
  }
}
.booking-form__search-bar > .icon-location {
  position: relative;
  left: 6%;
}
@media screen and (min-width: 992px) {
  .booking-form__search-bar > .icon-location {
    left: -3%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .booking-form__search-bar > .icon-location {
    left: -4%;
  }
}
.booking-form__search-bar > .search-field {
  position: relative;
  left: 10%;
}
@media screen and (min-width: 992px) {
  .booking-form__search-bar > .search-field {
    left: -1%;
  }
}
@media screen and (min-width: 1200px) {
  .booking-form__search-bar > .search-field {
    left: -1.5%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .booking-form__search-bar > .search-field {
    left: 0%;
  }
}
.booking-form__search-bar > .search-field input {
  box-sizing: border-box;
  padding: 0.8rem 0rem;
  background: none;
  border: 0;
  font-weight: 700;
  color: #353535;
}
@media screen and (min-width: 992px) {
  .booking-form__search-bar > .search-field input {
    font-size: 110%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .booking-form__search-bar > .search-field input {
    font-size: 1.8rem;
  }
}
.booking-form__call-to-action {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 2rem 3rem;
}
.booking-form__call-to-action h1 {
  font-weight: 900;
  margin: 0;
  color: #000;
  width: 80%;
  margin: 0 auto;
}
.booking-form__call-to-action label {
  appearance: none;
  display: inline-block;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .booking-form__call-to-action label {
    /*white-space: pre-wrap;*/
  }
}
.booking-form__call-to-action .button-primary {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 10px 20px -5px rgba(53, 53, 53, 0.5);
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .booking-form__call-to-action .button-primary {
    padding: 1.5rem;
    border-radius: 2.5rem;
  }
}
.booking-form__call-to-action .button-primary:active {
  box-shadow: 0px 10px 20px -2px rgba(53, 53, 53, 0.6);
  filter: brightness(110%);
}
@media screen and (min-width: 992px) {
  .booking-form__call-to-action .button-primary:hover {
    box-shadow: 0px 10px 20px -2px rgba(53, 53, 53, 0.6);
    filter: brightness(110%);
  }
}

/* fonctionnement*/
.proceeding-site {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  .proceeding-site {
    width: 35vw;
    padding: 0 2rem;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .proceeding-site {
    margin-right: 1rem;
    padding: 0 3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .proceeding-site {
    padding: 0 2rem;
    width: 100vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .proceeding-site {
    width: 100vw;
  }
}

.proceeding {
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: space-between;
  padding-left: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .proceeding {
    height: 24rem;
  }
}
.proceeding__steps {
  display: flex;
  flex-direction: row;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 10px 1px #eaeaea;
  align-items: center;
  position: relative;
  padding: 1rem 0.8rem 0.5rem 0.8rem;
  background: #f6f6f6;
}
.proceeding__steps > span {
  position: absolute;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background: #9356DC;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  left: -0.7rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .proceeding__steps > span {
    font-size: 70%;
    width: 2rem;
    height: 2rem;
    left: -2.5%;
  }
}
.proceeding__steps .steps__icon {
  margin: 0 1.5rem;
  color: #7e7e7e;
  font-size: 1.1rem;
  display: flex;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .proceeding__steps .steps__icon {
    font-size: 90%;
  }
}
.proceeding__steps .steps__icon--purple {
  color: #9356DC;
}
.proceeding__steps .steps__heading {
  font-size: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .proceeding__steps .steps__heading {
    font-size: 100%;
  }
}

/*Gallery-restaurant*/
.gallery-restaurants {
  padding: 0 1rem;
  background: #f6f6f6;
  margin-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
  width: 100%;
  /* @include desktop-large {
       width:50vw;
   }*/
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .gallery-restaurants h2 {
    padding-left: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery-restaurants h2 {
    padding-left: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .gallery-restaurants {
    width: auto;
    margin-top: 2rem;
    width: 60vw;
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-restaurants {
    margin-right: 0rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery-restaurants {
    width: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .gallery-restaurants {
    width: 100vw;
    margin-right: 0rem;
    margin-bottom: 0;
    padding-bottom: 4rem;
  }
}
.gallery-restaurants .gallery-flex-between {
  height: 63rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-wrap: wrap;*/
  align-content: space-evenly;
}
@media screen and (min-width: 992px) {
  .gallery-restaurants .gallery-flex-between {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 40rem;
    justify-content: space-evenly;
    margin-top: -2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery-restaurants .gallery-flex-between {
    max-height: 46rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .gallery-restaurants .gallery-flex-between {
    max-height: 50rem;
    margin-top: 0;
  }
}
.gallery__card {
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 1px #eaeaea;
  border-radius: 1rem;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .gallery__card {
    width: 26vw;
    max-height: 19rem;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__card {
    width: 26.5vw;
    min-height: 17rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .gallery__card {
    width: 43vw;
    min-height: 20rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .gallery__card {
    width: 45vw;
    min-height: 22rem;
  }
}
.gallery__card > a {
  position: relative;
  width: 100%;
}

.card__image {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.card__image > span {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
  background: #99E2D0;
  padding: 0.5rem 0.6rem 0.3rem;
  color: #278870;
  font-weight: 700;
  border-radius: 0.2rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .card__image > span {
    font-size: 75%;
  }
}
.card__image img {
  width: 100%;
  object-fit: cover;
  max-height: 11rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
}
.card__image img.la-palette-du-gout {
  object-position: center 111%;
}
.card__image img.la-note-enchantee {
  object-position: center 60%;
}
.card__image img.a-la-francaise {
  object-position: center 109%;
}
.card__image img.le-delice-des-sens {
  object-position: center 108%;
}
@media screen and (min-width: 992px) {
  .card__image img {
    min-height: 13rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .card__image img {
    max-height: 13rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .card__image img {
    max-height: 15rem;
  }
}
@media screen and (min-width: 1200px) {
  .card__image img.la-note-enchantee {
    min-height: 12.6rem;
    max-height: 12.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .card__image img.la-note-enchantee {
    max-height: 14.6rem;
  }
}
.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 1rem 0.8rem;
  box-sizing: border-box;
  margin-top: -0.5rem;
  position: relative;
}
@media screen and (min-width: 992px) {
  .card__description {
    margin-top: -0.1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .card__description {
    margin-top: 0;
  }
}
.card__description.card__description--margin-top {
  margin-top: -0.1rem;
}
@media screen and (min-width: 1200px) {
  .card__description.card__description--margin-top {
    margin-top: 0.3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .card__description.card__description--margin-top {
    margin-top: 0;
  }
}
.card__description .description__text {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
}
@media screen and (min-width: 992px) {
  .card__description .description__text {
    font-size: 86%;
    line-height: 0.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .card__description .description__text {
    line-height: 0.4rem;
  }
}

/*footer*/
.footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 992px) {
  .footer {
    height: 17vh;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .footer {
    min-height: 25vh;
  }
}
@media screen and (min-width: 992px) {
  .footer__logo {
    position: relative;
    top: -25%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .footer__logo {
    postion: relative;
    top: -10%;
  }
}
.footer a {
  color: #fff;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer a {
    font-size: 80%;
  }
}
.footer__heading {
  font-family: "Shrikhand", cursive, arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
@media screen and (min-width: 992px) {
  .footer__heading {
    font-size: 120%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__heading {
    font-size: 110%;
  }
}
.footer h3 {
  font-weight: 500;
  font-size: 0.9rem;
  text-shadow: 0.03rem -0.02rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer h3 {
    font-size: 100%;
  }
}
.footer__bloc-links {
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
  align-items: flex-start;
}
@media screen and (min-width: 992px) {
  .footer__bloc-links {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__bloc-links {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    font-size: 95%;
  }
}
.footer__link {
  height: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__link {
    height: 100%;
  }
}
.footer__link.footer__link--padding {
  padding-bottom: 0.8rem;
}
.footer__link a {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer__link a > .footer__icon {
  margin-right: 0.5rem;
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__link a > .footer__icon {
    font-size: 100%;
  }
}

.page-loading {
  position: absolute;
  z-index: 1;
  font-weight: 900;
  animation: page-loading 16s -2s ease-in-out 1;
  opacity: 0;
  background: #fff;
  /* filter:brightness(110%) contrast(130%) saturate(110%);
  background:url(img/coupe-s.jpg) no-repeat center/cover;*/
}
.page-loading .citation {
  color: #9356DC;
  font-weight: 900;
  line-height: 1.5;
  word-spacing: 0.2rem;
  padding: 0.5rem;
}
.page-loading > .loading {
  position: relative;
  margin: 0 auto;
  top: 10%;
  /* border: 10px solid ;*/
  /* border-top-color: $color-primary;*/
  animation: loading-spinner 16s -2s ease-in infinite, loading-start 4s ease-out 2;
  opacity: 0;
  transform: rotate(-360deg);
  height: 50px;
  width: 50px;
}
@media screen and (min-width: 992px) {
  .page-loading > .loading {
    top: 15%;
  }
}
@media screen and (min-width: 1200px) {
  .page-loading > .loading {
    top: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .page-loading > .loading {
    top: 15%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .page-loading > .loading {
    top: 12%;
  }
}
.page-loading > .loading .loading__spinner {
  border: 6px solid;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  border-radius: 50%;
}
.page-loading > .loading .loading__spinner--0 {
  border-top-color: #9356DC;
  animation: loading-spinner 4s 1s infinite;
  animation-timing-function: ease-in;
  z-index: 0;
  opacity: 0;
  transform: rotate(0deg);
}
.page-loading > .loading .loading__spinner--1 {
  border-right-color: #FF79DA;
  animation: loading-spinner 4s 2s infinite;
  animation-timing-function: ease-in-out;
  z-index: 0;
  opacity: 0;
  transform: rotate(0deg);
}
.page-loading > .loading .loading__spinner--2 {
  border-bottom-color: #9356DC;
  animation: loading-spinner 4s 3s infinite;
  animation-timing-function: ease-out;
  z-index: 0;
  opacity: 0;
  transform: rotate(0deg);
}
.page-loading > .loading .loading__spinner--3 {
  border-left-color: #FF79DA;
  animation: loading-spinner 4s 3s infinite;
  animation-timing-function: ease-in-out;
  z-index: 0;
  transform: rotate(0deg);
  opacity: 0;
}
.page-loading > .loading .loading__spinner--4 {
  animation: loading-spinner 4s infinite;
  animation-timing-function: ease-out;
  border-top-color: #9356DC;
  z-index: 0;
  opacity: 0;
}

@keyframes page-loading {
  0%, 100% {
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
@keyframes loading-spinner {
  from {
    opacity: 0;
    z-index: 0;
  }
  to {
    opacity: 1;
    z-index: 1;
    transform: rotate(45deg);
  }
}
@keyframes loading-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=homepage.css.map */
