@charset "UTF-8";
/* color*/
/*page-menu*/
/* animation fade-in*/
/*search-bar*/
/*gallery-restaurants*/
/*search-bar*/
/*gallery-restaurants homepage*/
/*page-menu form*/
/* responsive*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
@keyframes rotate-check {
  0% {
    transform: rotate(-360deg) scaleX(1);
  }
  100% {
    transform: rotate(360deg) scaleX(0.9);
  }
}
html {
  font-size: 62, 5%;
}

body {
  margin: 0 auto;
  font-family: "Roboto", arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: auto;
    font-size: 160% !important;
  }
}
@media screen and (min-width: 992px) {
  body {
    font-size: 100%;
    width: auto;
    min-height: 100vh;
  }
}

h1, h2 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  h1, h2 {
    font-size: 130%;
  }
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 110%;
  }
}

a {
  text-decoration: none;
  color: #000;
}

/* animation css icon-like*/
.icon-like {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 0;
  z-index: 0;
}
.icon-like .empty-heart {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.icon-like .empty-heart > .border {
  opacity: 1;
  transition: opacity 0.1s linear 0.9s;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .icon-like .empty-heart > .border {
    font-size: 130%;
  }
}
.icon-like .empty-heart > .full-heart {
  background: linear-gradient(purple, pink);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  transform: scale(0);
  transition: transform 1s linear, opacity 0.4s ease-out;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}
.icon-like .empty-heart > .full-heart i {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .icon-like .empty-heart > .full-heart i {
    font-size: 130%;
  }
}
.icon-like .empty-heart:hover:active .border {
  opacity: 0;
}
.icon-like .empty-heart:hover:active > .full-heart {
  transform: scale(1);
  opacity: 1;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .icon-like .empty-heart:hover .border {
    opacity: 0;
  }
  .icon-like .empty-heart:hover > .full-heart {
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
  }
}

/*checkbox-animation*/
label {
  appearance: none;
  cursor: pointer;
}
label > p {
  transform-origin: left;
  transition: transform, text-overflow;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.starter__price, .dish__price, .dessert__price {
  transform-origin: right;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.checkbox-animation {
  /*  display:none;*/
  background: #99E2D0;
  padding: 1.6rem;
  border-radius: 0 0.8rem 0.8rem 0;
  color: #fff;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .checkbox-animation {
    border-radius: 0 1.2rem 1.2rem 0;
    padding: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox-animation {
    padding: 1.8rem;
  }
}
.checkbox-animation .circle-checked {
  font-size: 1.3rem;
  /*  transform:  rotate(-360deg) scaleX(1);
    transition: transform 1s ease-in-out;*/
  display: block;
  position: absolute;
  top: 2rem;
  right: 0.9rem;
  transform: scale(0.9, 1);
}
@media screen and (max-width: 360px) {
  .checkbox-animation .circle-checked {
    top: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .checkbox-animation .circle-checked {
    transform: scale(0.9, 1.4);
    font-size: 1.8rem;
    top: 3.2rem;
    right: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  .checkbox-animation .circle-checked {
    right: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  .starter__menu:hover, .dish__menu:hover, .dessert__menu:hover {
    /*padding: 0rem 0rem 0rem 0.5rem;*/
    overflow: hidden;
  }
  .starter__menu:hover .checkbox-animation, .dish__menu:hover .checkbox-animation, .dessert__menu:hover .checkbox-animation {
    display: flex;
    transform: scaleX(1.35);
  }
}
@media screen and (min-width: 992px) and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 992px) and (min-width: 768px) and (max-width: 1024px) {
  .starter__menu:hover .checkbox-animation, .dish__menu:hover .checkbox-animation, .dessert__menu:hover .checkbox-animation {
    transform: scaleX(1.8);
    padding: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover .checkbox-animation .circle-checked, .dish__menu:hover .checkbox-animation .circle-checked, .dessert__menu:hover .checkbox-animation .circle-checked {
    /* transform:rotate(0deg) scale(1) ;*/
    animation: rotate-check 1s ease-in-out 1;
    /* @include tablet {
        transform: rotate(0deg) scale(1.3);

     }*/
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover .starter__price, .starter__menu:hover .dish__price, .starter__menu:hover .dessert__price, .dish__menu:hover .starter__price, .dish__menu:hover .dish__price, .dish__menu:hover .dessert__price, .dessert__menu:hover .starter__price, .dessert__menu:hover .dish__price, .dessert__menu:hover .dessert__price {
    margin-right: 1rem;
    margin-left: -3rem;
    top: 33px;
    transform: translateX(-45px);
  }
}
@media screen and (min-width: 992px) and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 992px) and (min-width: 768px) and (max-width: 1024px) {
  .starter__menu:hover .starter__price, .starter__menu:hover .dish__price, .starter__menu:hover .dessert__price, .dish__menu:hover .starter__price, .dish__menu:hover .dish__price, .dish__menu:hover .dessert__price, .dessert__menu:hover .starter__price, .dessert__menu:hover .dish__price, .dessert__menu:hover .dessert__price {
    transform: translateX(-100px);
    top: 57px;
  }
}
@media screen and (min-width: 992px) and (min-width: 1200px) {
  .starter__menu:hover .starter__price, .starter__menu:hover .dish__price, .starter__menu:hover .dessert__price, .dish__menu:hover .starter__price, .dish__menu:hover .dish__price, .dish__menu:hover .dessert__price, .dessert__menu:hover .starter__price, .dessert__menu:hover .dish__price, .dessert__menu:hover .dessert__price {
    transform: translateX(-60px);
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label, .dish__menu:hover label, .dessert__menu:hover label {
    /* paragraph width-ellipsis: " menu palette du goût" */
    /*  .dish--beef{
          width: 77%!important;
      }*/
    /* "french menu" */
    /* "la note enchantée" */
    /* "le delice des sens"*/
  }
  .starter__menu:hover label p, .starter__menu:hover label h3, .dish__menu:hover label p, .dish__menu:hover label h3, .dessert__menu:hover label p, .dessert__menu:hover label h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .starter__menu:hover label p, .dish__menu:hover label p, .dessert__menu:hover label p {
    line-height: 2rem;
    transform: scaleX(0.9);
  }
  .starter__menu:hover label .starter--duck, .dish__menu:hover label .starter--duck, .dessert__menu:hover label .starter--duck {
    width: 57%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .starter--duck, .dish__menu:hover label .starter--duck, .dessert__menu:hover label .starter--duck {
    width: 58%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .starter--egg, .dish__menu:hover label .starter--egg, .dessert__menu:hover label .starter--egg {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .dish--beef, .dish__menu:hover label .dish--beef, .dessert__menu:hover label .dish--beef {
    width: 75% !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .macaroon, .dish__menu:hover label .macaroon, .dessert__menu:hover label .macaroon {
    width: 70%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .queue-de-boeuf, .dish__menu:hover label .queue-de-boeuf, .dessert__menu:hover label .queue-de-boeuf {
    width: 87%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .dish--beef-parmentier, .dish__menu:hover label .dish--beef-parmentier, .dessert__menu:hover label .dish--beef-parmentier {
    width: 87%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .dish--mada, .dish__menu:hover label .dish--mada, .dessert__menu:hover label .dish--mada {
    width: 57%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .dessert--mousse, .dish__menu:hover label .dessert--mousse, .dessert__menu:hover label .dessert--mousse {
    width: 77%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .dish--potatoes, .dish__menu:hover label .dish--potatoes, .dessert__menu:hover label .dish--potatoes {
    width: 85%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .dish--parmentier, .dish__menu:hover label .dish--parmentier, .dessert__menu:hover label .dish--parmentier {
    width: 91%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .dish--gnocchis, .dish__menu:hover label .dish--gnocchis, .dessert__menu:hover label .dish--gnocchis {
    width: 81%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .starter--ravioli, .dish__menu:hover label .starter--ravioli, .dessert__menu:hover label .starter--ravioli {
    width: 91%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .starter--lobster, .dish__menu:hover label .starter--lobster, .dessert__menu:hover label .starter--lobster {
    width: 70%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .foie-gras, .dish__menu:hover label .foie-gras, .dessert__menu:hover label .foie-gras {
    width: 70%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .saint-jacques, .dish__menu:hover label .saint-jacques, .dessert__menu:hover label .saint-jacques {
    width: 80%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .macaroon-hazelnut, .dish__menu:hover label .macaroon-hazelnut, .dessert__menu:hover label .macaroon-hazelnut {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .dessert--ice, .dish__menu:hover label .dessert--ice, .dessert__menu:hover label .dessert--ice {
    width: 83%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .crisp-lobster, .dish__menu:hover label .crisp-lobster, .dessert__menu:hover label .crisp-lobster {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover label .dessert--tiramisu, .dish__menu:hover label .dessert--tiramisu, .dessert__menu:hover label .dessert--tiramisu {
    width: 70%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .dessert--mousse, .dish__menu:hover label .dessert--mousse, .dessert__menu:hover label .dessert--mousse {
    width: 75%;
  }
}
@media screen and (min-width: 992px) and (max-width: 360px) {
  .starter__menu:hover label .roast-chicken, .dish__menu:hover label .roast-chicken, .dessert__menu:hover label .roast-chicken {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  .starter__menu:hover .starter__details, .starter__menu:hover .dish__details, .starter__menu:hover .dessert__details, .dish__menu:hover .starter__details, .dish__menu:hover .dish__details, .dish__menu:hover .dessert__details, .dessert__menu:hover .starter__details, .dessert__menu:hover .dish__details, .dessert__menu:hover .dessert__details {
    line-height: 1rem;
  }
}
@media screen and (min-width: 992px) and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 992px) and (min-width: 768px) and (max-width: 1024px) {
  .starter__menu:hover .starter__details, .starter__menu:hover .dish__details, .starter__menu:hover .dessert__details, .dish__menu:hover .starter__details, .dish__menu:hover .dish__details, .dish__menu:hover .dessert__details, .dessert__menu:hover .starter__details, .dessert__menu:hover .dish__details, .dessert__menu:hover .dessert__details {
    line-height: 2rem;
  }
}

.starter__menu:active, .dish__menu:active, .dessert__menu:active {
  /*padding: 0rem 0rem 0rem 0.5rem;*/
  overflow: hidden;
}
.starter__menu:active .checkbox-animation, .dish__menu:active .checkbox-animation, .dessert__menu:active .checkbox-animation {
  display: flex;
  transform: scaleX(1.35);
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .starter__menu:active .checkbox-animation, .dish__menu:active .checkbox-animation, .dessert__menu:active .checkbox-animation {
    transform: scaleX(1.8);
    padding: 2rem;
  }
}
.starter__menu:active .checkbox-animation .circle-checked, .dish__menu:active .checkbox-animation .circle-checked, .dessert__menu:active .checkbox-animation .circle-checked {
  /* transform:rotate(0deg) scale(1) ;*/
  animation: rotate-check 1s ease-in-out 1;
  /* @include tablet {
      transform: rotate(0deg) scale(1.3);

   }*/
}
.starter__menu:active .starter__price, .starter__menu:active .dish__price, .starter__menu:active .dessert__price, .dish__menu:active .starter__price, .dish__menu:active .dish__price, .dish__menu:active .dessert__price, .dessert__menu:active .starter__price, .dessert__menu:active .dish__price, .dessert__menu:active .dessert__price {
  margin-right: 1rem;
  margin-left: -3rem;
  top: 33px;
  transform: translateX(-45px);
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .starter__menu:active .starter__price, .starter__menu:active .dish__price, .starter__menu:active .dessert__price, .dish__menu:active .starter__price, .dish__menu:active .dish__price, .dish__menu:active .dessert__price, .dessert__menu:active .starter__price, .dessert__menu:active .dish__price, .dessert__menu:active .dessert__price {
    transform: translateX(-100px);
    top: 57px;
  }
}
@media screen and (min-width: 1200px) {
  .starter__menu:active .starter__price, .starter__menu:active .dish__price, .starter__menu:active .dessert__price, .dish__menu:active .starter__price, .dish__menu:active .dish__price, .dish__menu:active .dessert__price, .dessert__menu:active .starter__price, .dessert__menu:active .dish__price, .dessert__menu:active .dessert__price {
    transform: translateX(-60px);
  }
}
.starter__menu:active label, .dish__menu:active label, .dessert__menu:active label {
  /* paragraph width-ellipsis: " menu palette du goût" */
  /*  .dish--beef{
        width: 77%!important;
    }*/
  /* "french menu" */
  /* "la note enchantée" */
  /* "le delice des sens"*/
}
.starter__menu:active label p, .starter__menu:active label h3, .dish__menu:active label p, .dish__menu:active label h3, .dessert__menu:active label p, .dessert__menu:active label h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.starter__menu:active label p, .dish__menu:active label p, .dessert__menu:active label p {
  line-height: 2rem;
  transform: scaleX(0.9);
}
.starter__menu:active label .starter--duck, .dish__menu:active label .starter--duck, .dessert__menu:active label .starter--duck {
  width: 57%;
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .starter--duck, .dish__menu:active label .starter--duck, .dessert__menu:active label .starter--duck {
    width: 58%;
  }
}
.starter__menu:active label .starter--egg, .dish__menu:active label .starter--egg, .dessert__menu:active label .starter--egg {
  width: 90%;
}
.starter__menu:active label .dish--beef, .dish__menu:active label .dish--beef, .dessert__menu:active label .dish--beef {
  width: 75% !important;
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .macaroon, .dish__menu:active label .macaroon, .dessert__menu:active label .macaroon {
    width: 70%;
  }
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .queue-de-boeuf, .dish__menu:active label .queue-de-boeuf, .dessert__menu:active label .queue-de-boeuf {
    width: 87%;
  }
}
.starter__menu:active label .dish--beef-parmentier, .dish__menu:active label .dish--beef-parmentier, .dessert__menu:active label .dish--beef-parmentier {
  width: 87%;
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .dish--mada, .dish__menu:active label .dish--mada, .dessert__menu:active label .dish--mada {
    width: 57%;
  }
}
.starter__menu:active label .dessert--mousse, .dish__menu:active label .dessert--mousse, .dessert__menu:active label .dessert--mousse {
  width: 77%;
}
.starter__menu:active label .dish--potatoes, .dish__menu:active label .dish--potatoes, .dessert__menu:active label .dish--potatoes {
  width: 85%;
}
.starter__menu:active label .dish--parmentier, .dish__menu:active label .dish--parmentier, .dessert__menu:active label .dish--parmentier {
  width: 91%;
}
.starter__menu:active label .dish--gnocchis, .dish__menu:active label .dish--gnocchis, .dessert__menu:active label .dish--gnocchis {
  width: 81%;
}
.starter__menu:active label .starter--ravioli, .dish__menu:active label .starter--ravioli, .dessert__menu:active label .starter--ravioli {
  width: 91%;
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .starter--lobster, .dish__menu:active label .starter--lobster, .dessert__menu:active label .starter--lobster {
    width: 70%;
  }
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .foie-gras, .dish__menu:active label .foie-gras, .dessert__menu:active label .foie-gras {
    width: 70%;
  }
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .saint-jacques, .dish__menu:active label .saint-jacques, .dessert__menu:active label .saint-jacques {
    width: 80%;
  }
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .macaroon-hazelnut, .dish__menu:active label .macaroon-hazelnut, .dessert__menu:active label .macaroon-hazelnut {
    width: 70%;
  }
}
.starter__menu:active label .dessert--ice, .dish__menu:active label .dessert--ice, .dessert__menu:active label .dessert--ice {
  width: 83%;
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .crisp-lobster, .dish__menu:active label .crisp-lobster, .dessert__menu:active label .crisp-lobster {
    width: 70%;
  }
}
.starter__menu:active label .dessert--tiramisu, .dish__menu:active label .dessert--tiramisu, .dessert__menu:active label .dessert--tiramisu {
  width: 70%;
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .dessert--mousse, .dish__menu:active label .dessert--mousse, .dessert__menu:active label .dessert--mousse {
    width: 75%;
  }
}
@media screen and (max-width: 360px) {
  .starter__menu:active label .roast-chicken, .dish__menu:active label .roast-chicken, .dessert__menu:active label .roast-chicken {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 70%;
  }
}
.starter__menu:active .starter__details, .starter__menu:active .dish__details, .starter__menu:active .dessert__details, .dish__menu:active .starter__details, .dish__menu:active .dish__details, .dish__menu:active .dessert__details, .dessert__menu:active .starter__details, .dessert__menu:active .dish__details, .dessert__menu:active .dessert__details {
  line-height: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .starter__menu:active .starter__details, .starter__menu:active .dish__details, .starter__menu:active .dessert__details, .dish__menu:active .starter__details, .dish__menu:active .dish__details, .dish__menu:active .dessert__details, .dessert__menu:active .starter__details, .dessert__menu:active .dish__details, .dessert__menu:active .dessert__details {
    line-height: 2rem;
  }
}

@keyframes rotate-check {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg) scaleX(0.9);
  }
}
.button-primary {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 10px 20px -5px rgba(53, 53, 53, 0.5);
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .button-primary {
    padding: 1.5rem;
    border-radius: 2.5rem;
  }
}
.button-primary:active {
  box-shadow: 0px 10px 20px -2px rgba(53, 53, 53, 0.6);
  filter: brightness(110%);
}
@media screen and (min-width: 992px) {
  .button-primary:hover {
    box-shadow: 0px 10px 20px -2px rgba(53, 53, 53, 0.6);
    filter: brightness(110%);
  }
}

/*header*/
header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    width: 100%;
  }
}
header > .header__logo {
  display: flex;
  position: relative;
  top: 5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  header > .header__logo {
    top: 10px;
  }
}
header > .header__logo .logo-svg {
  padding: 0.8rem;
  width: 10rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  header > .header__logo .logo-svg {
    padding: 2rem;
    width: 300px;
    height: 45px;
  }
}
header button {
  background: none;
  border: none;
  color: #353535;
  text-shadow: 0rem -0.01rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  header button {
    top: 37%;
    font-size: 130%;
  }
}

.form-menu__starter {
  animation: fadein 500ms both;
}

.form-menu .form-menu--1-fadein {
  animation-delay: 3s 1s;
  animation: fadein 3s both;
}
.form-menu .form-menu--2-fadein {
  animation-delay: 3s 2s;
  animation: fadein 3s both;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 992px) {
  main {
    align-items: center;
  }
}

/*banner-menu*/
.banner-menu {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
}
@media screen and (min-width: 992px) {
  .banner-menu {
    justify-content: center;
    width: 100%;
  }
}
.banner-menu img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  min-height: 17.2rem;
}
.banner-menu img.img--max-height {
  max-height: 17.2rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .banner-menu img {
    width: 100% !important;
  }
}
@media screen and (min-width: 992px) {
  .banner-menu img {
    width: 95%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 13.8rem;
  margin-bottom: 12.7rem;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .menu {
    padding: 0;
    top: 25.8rem;
    margin-bottom: 25.7rem;
    border-radius: 4.5rem 4.5rem 0 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .menu {
    top: 32rem !important;
    width: 100vw !important;
    margin-bottom: 32rem !important;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    top: 27rem;
    width: 94vw;
    margin-bottom: 30rem;
    border-radius: 7rem 7rem 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    top: 35rem;
    border-radius: 7rem 7rem 0 0;
    margin-bottom: 35rem;
  }
}
.menu__heading {
  font-family: "Shrikhand", cursive, arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem 0rem 0rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .menu__heading {
    font-size: 120%;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .menu__heading {
    padding-left: 2rem;
  }
}
.menu .icon-like {
  right: 3%;
}

.form-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70rem;
  appearance: none;
  padding-bottom: 5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu {
    align-items: center;
    min-height: 120rem;
    padding-bottom: 7rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .form-menu {
    min-height: 130rem !important;
    padding-bottom: 8rem;
  }
}
@media screen and (min-width: 992px) {
  .form-menu {
    align-items: center;
    min-height: 90rem;
  }
}
@media screen and (min-width: 1200px) {
  .form-menu {
    min-height: 90rem;
  }
}
.form-menu__starter {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  justify-content: space-around;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu__starter {
    width: 80vw;
    padding: 2rem;
    border: 2px groove rgb(192, 192, 192);
  }
}
@media screen and (min-width: 992px) {
  .form-menu__starter {
    width: 80vw;
    padding: 2rem;
    border: 2px groove rgb(192, 192, 192);
  }
}
.form-menu__dish {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  justify-content: space-around;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu__dish {
    width: 80vw;
    padding: 2rem;
    border: 2px groove rgb(192, 192, 192);
  }
}
@media screen and (min-width: 992px) {
  .form-menu__dish {
    width: 80vw;
    padding: 2rem;
    border: 2px groove rgb(192, 192, 192);
  }
}
.form-menu__dessert {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  justify-content: space-around;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu__dessert {
    width: 80vw;
    padding: 2rem;
    border: 2px groove rgb(192, 192, 192);
  }
}
@media screen and (min-width: 992px) {
  .form-menu__dessert {
    width: 80vw;
    padding: 2rem;
    border: 2px groove rgb(192, 192, 192);
  }
}
.form-menu legend::after {
  content: "";
  height: 0.2rem;
  width: 2.5rem;
  background: #99E2D0;
  position: absolute;
  top: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu legend::after {
    top: 3rem;
    width: 4rem;
  }
}
.form-menu legend h2 {
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu legend h2 {
    font-size: 100%;
  }
}
.form-menu .starter__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 10px 2px #eaeaea;
  border-radius: 1rem;
  padding: 0.3rem 1rem 0rem 0.5rem;
  align-items: center;
  height: 5rem;
  background: #fff;
  margin-bottom: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .starter__menu {
    min-height: 8rem;
    border-radius: 1.8rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .form-menu .starter__menu {
    padding-left: 1rem;
  }
}
.form-menu .starter__details {
  display: flex;
  flex-direction: column;
  /* white-space: nowrap;*/
}
.form-menu .starter__details label p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  margin-top: -0.8rem;
}
@media screen and (max-width: 360px) {
  .form-menu .starter__details label p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .starter__details label p {
    font-size: 100%;
  }
}
.form-menu .starter__details label .dish--beef {
  width: 98%;
}
@media screen and (max-width: 360px) {
  .form-menu .starter__details label .dessert--ice {
    width: 83%;
  }
}
@media screen and (max-width: 360px) {
  .form-menu .starter__details label .dessert--tiramisu {
    width: 70%;
  }
}
.form-menu .starter__price {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: right;
  position: absolute;
  top: 34px;
  right: 20px;
  z-index: 1;
}
@media screen and (max-width: 360px) {
  .form-menu .starter__price {
    top: 34px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .starter__price {
    top: 57px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .starter__price {
    font-size: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .form-menu .starter__price {
    font-size: 85%;
  }
}
.form-menu .dish__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 10px 2px #eaeaea;
  border-radius: 1rem;
  padding: 0.3rem 1rem 0rem 0.5rem;
  align-items: center;
  height: 5rem;
  background: #fff;
  margin-bottom: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .dish__menu {
    min-height: 8rem;
    border-radius: 1.8rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .form-menu .dish__menu {
    padding-left: 1rem;
  }
}
.form-menu .dish__details {
  display: flex;
  flex-direction: column;
  /* white-space: nowrap;*/
}
.form-menu .dish__details label p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  margin-top: -0.8rem;
}
@media screen and (max-width: 360px) {
  .form-menu .dish__details label p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .dish__details label p {
    font-size: 100%;
  }
}
.form-menu .dish__details label .dish--beef {
  width: 98%;
}
@media screen and (max-width: 360px) {
  .form-menu .dish__details label .dessert--ice {
    width: 83%;
  }
}
@media screen and (max-width: 360px) {
  .form-menu .dish__details label .dessert--tiramisu {
    width: 70%;
  }
}
.form-menu .dish__price {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: right;
  position: absolute;
  top: 34px;
  right: 20px;
  z-index: 1;
}
@media screen and (max-width: 360px) {
  .form-menu .dish__price {
    top: 34px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .dish__price {
    top: 57px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .dish__price {
    font-size: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .form-menu .dish__price {
    font-size: 85%;
  }
}
.form-menu .dessert__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 10px 2px #eaeaea;
  border-radius: 1rem;
  padding: 0.3rem 1rem 0rem 0.5rem;
  align-items: center;
  height: 5rem;
  background: #fff;
  margin-bottom: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .dessert__menu {
    min-height: 8rem;
    border-radius: 1.8rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .form-menu .dessert__menu {
    padding-left: 1rem;
  }
}
.form-menu .dessert__details {
  display: flex;
  flex-direction: column;
  /* white-space: nowrap;*/
}
.form-menu .dessert__details label p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1rem;
  margin-top: -0.8rem;
}
@media screen and (max-width: 360px) {
  .form-menu .dessert__details label p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .dessert__details label p {
    font-size: 100%;
  }
}
.form-menu .dessert__details label .dish--beef {
  width: 98%;
}
@media screen and (max-width: 360px) {
  .form-menu .dessert__details label .dessert--ice {
    width: 83%;
  }
}
@media screen and (max-width: 360px) {
  .form-menu .dessert__details label .dessert--tiramisu {
    width: 70%;
  }
}
.form-menu .dessert__price {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  text-align: right;
  position: absolute;
  top: 34px;
  right: 20px;
  z-index: 1;
}
@media screen and (max-width: 360px) {
  .form-menu .dessert__price {
    top: 34px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .dessert__price {
    top: 57px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .form-menu .dessert__price {
    font-size: 90%;
  }
}
@media screen and (min-width: 1200px) {
  .form-menu .dessert__price {
    font-size: 85%;
  }
}
.form-menu input[type=checkbox] {
  display: none;
}
.form-menu.form-menu--note-enchantee {
  padding-bottom: 15rem;
}

.button-primary {
  width: 13rem;
  margin: 0rem auto;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .button-primary {
    width: 20rem;
    padding: 2rem;
    border-radius: 3rem;
    font-size: 110%;
    margin-top: 4rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .button-primary {
    margin-top: 0rem;
  }
}
@media screen and (min-width: 1200px) {
  .button-primary {
    width: 16rem;
    padding: 1.5rem;
    border-radius: 2.5rem;
    font-size: 130%;
  }
}

/*footer*/
.footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .footer {
    min-height: 25vh;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    height: 17vh;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .footer__logo {
    position: relative;
    top: -25%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .footer__logo {
    postion: relative;
    top: -10%;
  }
}
.footer a {
  color: #fff;
  font-size: 0.9rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer a {
    font-size: 80%;
  }
}
.footer h1 {
  font-family: "Shrikhand", cursive, arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer h1 {
    font-size: 110%;
  }
}
@media screen and (min-width: 992px) {
  .footer h1 {
    font-size: 120%;
  }
}
.footer h3 {
  font-weight: 500;
  font-size: 0.9rem;
  text-shadow: 0.03rem -0.02rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer h3 {
    font-size: 100%;
  }
}
.footer__bloc-links {
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
  align-items: flex-start;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__bloc-links {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    font-size: 95%;
  }
}
@media screen and (min-width: 992px) {
  .footer__bloc-links {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer__link {
  height: 1.5rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__link {
    height: 100%;
  }
}
.footer__link.footer__link--padding {
  padding-bottom: 0.8rem;
}
.footer__link a {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer__link a > .footer__icon {
  margin-right: 0.5rem;
  font-size: 0.7rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait), screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__link a > .footer__icon {
    font-size: 100%;
  }
}

/*# sourceMappingURL=page-menu.css.map */
