/* color*/
/*search-bar*/
/*gallery-restaurants*/
/*search-bar*/
/*gallery-restaurants*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap");
html {
  font-size: 62, 5%;
}

body {
  margin: 0 auto;
  font-family: "Roboto", arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

h1, h2 {
  font-size: 1.5rem;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

.button-primary {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 10px 20px -5px rgba(53, 53, 53, 0.5);
}
.button-primary:active {
  box-shadow: 0px 10px 20px -2px rgba(53, 53, 53, 0.6);
  filter: brightness(110%);
}

/*header*/
header {
  display: flex;
  justify-content: center;
  position: relative;
}
header > .header__logo {
  display: flex;
}
header > .header__logo .logo-svg {
  padding: 1rem;
  width: 10rem;
}
header button {
  background: none;
  border: none;
  color: #353535;
  text-shadow: 0rem -0.01rem;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-size: 1.2rem;
}

/*footer*/
.footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
}
.footer a {
  color: #fff;
  font-size: 0.9rem;
}
.footer h1 {
  font-family: "Shrikhand", cursive, arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
.footer h3 {
  font-weight: 500;
  font-size: 0.9rem;
  text-shadow: 0.03rem -0.02rem;
}
.footer__bloc-links {
  display: flex;
  flex-direction: column;
  margin-top: -0.5rem;
}
.footer__link {
  display: flex;
  flex-direction: column;
  height: 1.5rem;
}
.footer__link.footer__link--padding {
  padding-bottom: 0.8rem;
}
.footer__link a {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer__link a > span {
  margin-right: 0.5rem;
  font-size: 0.7rem;
}

main {
  display: flex;
  flex-direction: column;
}

/*banner-menu*/
.banner-menu {
  width: 100%;
  box-sizing: border-box;
}
.banner-menu img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  min-height: 17.2rem;
}
.banner-menu img.img--max-height {
  max-height: 17.2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  background: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  top: 12.8rem;
  margin-bottom: 12.7rem;
  padding: 0 1rem;
}
.menu__heading {
  font-family: "Shrikhand", cursive, arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem 0rem 1.2rem;
}

.form-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75rem;
  appearance: none;
  padding-bottom: 5rem;
  /*span:checkbox-animation*/
}
.form-menu__starter {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form-menu__dish {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form-menu__dessert {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form-menu legend::after {
  content: "";
  height: 0.2rem;
  width: 2.5rem;
  background: #99E2D0;
  position: absolute;
  top: 2rem;
}
.form-menu legend h2 {
  font-size: 1rem;
  font-weight: 500;
}
.form-menu .starter__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 10px 2px #eaeaea;
  border-radius: 1rem;
  padding: 0.3rem 1rem 0rem 0.5rem;
  align-items: flex-end;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.form-menu .starter__details {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
}
.form-menu .starter__price {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
}
.form-menu .dish__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 10px 2px #eaeaea;
  border-radius: 1rem;
  padding: 0.3rem 1rem 0rem 0.5rem;
  align-items: flex-end;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.form-menu .dish__details {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
}
.form-menu .dish__price {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
}
.form-menu .dessert__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 5px 10px 2px #eaeaea;
  border-radius: 1rem;
  padding: 0.3rem 1rem 0rem 0.5rem;
  align-items: flex-end;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.form-menu .dessert__details {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
}
.form-menu .dessert__price {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
}
.form-menu input[type=checkbox] {
  position: absolute;
  height: 0;
  width: 0;
}
.form-menu span {
  display: none;
  background: #99E2D0;
  padding: 1.5rem;
  border-radius: 0 1rem 1rem 0;
  color: #fff;
}
.form-menu span .circle-checked {
  vertical-align: middle;
  height: 40%;
  font-size: 1.5rem;
}

/*checkbox-animation sans animation*/
.starter__menu:active, .dish__menu:active, .dessert__menu:active {
  padding: 0rem 0rem 0rem 0.5rem;
}
.starter__menu:active span, .dish__menu:active span, .dessert__menu:active span {
  display: block;
}

.button-primary {
  width: 13rem;
  margin: 0rem auto;
}

/*# sourceMappingURL=page-menu.css.map */
