@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');

html {
    font-size: 62,5%;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', arial, sans-serif;
    display: flex;
    flex-direction: column;
    
}

/*

h1,h2,h3{
    font-family:'Shrikhand', cursive, arial, sans-serif;
}*/

/* font color*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

/*header*/

header {
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
}

.gallery-restaurants__card {
    img{
        width:100%;
    }
}