@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Shrikhand&display=swap');
/* color*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$main-background:#f6f6f6;
$background-search-bar: #eaeaea;

@mixin flexbox-direction($direction:column) {
    display:flex;
    flex-direction:$direction;
}

html {
    font-size: 62,5%;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', arial, sans-serif;
    @include flexbox-direction;
    font-size: 1rem;
    
}



h1,h2, {
    font-size: 1.5rem;   
}


/*header*/

header {
    display: flex;
    justify-content: center;
    >.header__logo {
        display: flex;
        .logo-svg {
            padding: 1rem;
            width: 10rem;
            
        }
    }
}

main {
    @include flexbox-direction;
}

.booking-menu {
    @include flexbox-direction ;
    text-align: center;
    background:$main-background;
    appearance: none;
}

.booking-form {
    @include flexbox-direction;
    &__search-bar {
        @include flexbox-direction(row);
        justify-content: center;
        background:$background-search-bar;
        position:relative;
        height: 3rem;
        .icon-location{
            position:absolute;
            left:8rem;
          
        }
        input {
            position:absolute;
            right: 2rem;
            padding:0.8rem 0rem;
            background: none;
            border:0;
        }

    }  
    &__call-to-action {
        @include flexbox-direction;
        margin:0 auto;
        padding: 2rem 2rem 3.5rem;
        label{
            appearance: none;
            width: 80%;
            margin: 0 auto;
        }
        h1 {
           font-weight:900;
           margin:0;
        }
    }
}

.gallery-restaurants__card {
    .card__image {
        img {
            width: 100%;
        }
   
    }

}