@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap');
/* color*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$main-background:#f6f6f6;
$background-search-bar: #eaeaea;

@mixin flexbox-direction($direction:column) {
    display:flex;
    flex-direction:$direction;
}

html {
    font-size: 62,5%;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', arial, sans-serif;
    @include flexbox-direction;
    
}

/*

h1,h2,h3{
    font-family:'Shrikhand', cursive, arial, sans-serif;
}*/



/*header*/

header {
    display: flex;
    justify-content: center;
    >.header__logo {
        display: flex;
        .logo-svg {
            padding: 1rem;
            width: 10rem;
            
        }
    }
}

main {
    @include flexbox-direction;
}

.booking-menu {
    @include flexbox-direction ;
    text-align: center;
    background:$main-background;
    .booking-form {
        @include flexbox-direction;
        &__search-bar{
            background:$background-search-bar;

        }
    }
}

.gallery-restaurants__card {
    .card__image {
        img {
            width: 100%;
        }
   
    }

}