@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./components/button-primary";
@import "./layouts/header";

main{
    @include flexbox-direction;
}

/*banner-menu*/

.banner-menu {
    width: 100%;
    box-sizing: border-box;

        img {
            width:100%;
            object-fit: cover;
            position: absolute;
            z-index: -1;
            min-height: 17.2rem;
            &.img--max-height {
                max-height: 17.2rem;
            }
            
        }
    
}

.menu{
    @include flexbox-direction;
    background: map-get($color-gray, main-background);
    border-radius: 2.5rem 2.5rem 0 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: 12.8rem;
    margin-bottom: 12.7rem;
    &__heading {
        font-family: "Shrikhand", cursive, arial, sans-serif;
        @include flexbox-direction(row);
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem 0rem 1.2rem;
    }
}
@mixin checked  {
    display:block;
    }

.form-menu {
    @include flexbox-direction;
    justify-content: space-between;
    height: 70rem;
    appearance: none;
    padding-bottom: 5rem;
    fieldset {
        /* border:none;*/
        position: relative;
        @include flexbox-direction;
     }
    legend {
        &::after {
            content: "";
            height: 0.2rem;
            width: 2.5rem;
            background: $color-tertiary;
            position: absolute;
            top: 2rem;
        }
        h2{
            font-size: 1rem;
            font-weight: 500;
        }
        
    }
    .starter__menu,.dish__menu,.dessert__menu{
        position:relative;
        @include flexbox-direction(row);
        align-items: flex-end;
        justify-content: space-between;
        .checkbox-animation{
            position:absolute;
            right:0%;
            
        }
        input[type=checkbox]{
            position:absolute;
            height:0;
            width:0;
           
           
        }
        span{
            display:none;
            background:$color-tertiary;
            padding:2rem;
        }
        
        &:active{
            span {
                display:block;
                border-radius:0 1.5rem 1.5rem 0;
    
            }
            .starter__price{
                position: absolute;
                right: 10rem;
            }
            

            

            

           
            
        }
       
     
       
    }

   
}


    







