@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./components/button-primary";
@import "./layouts/header";
@import "./layouts/footer";

main{
    @include flexbox-direction;
}

/*banner-menu*/

.banner-menu {
    width: 100%;
    box-sizing: border-box;

    img {
        width:100%;
        object-fit: cover;
        position: absolute;
         z-index: -1;
        min-height: 17.2rem;
        &.img--max-height {
             max-height: 17.2rem;
        }          
     } 
}

.menu {
    @include flexbox-direction;
    background: map-get($color-gray, main-background);
    border-radius: 2.5rem 2.5rem 0 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: 12.8rem;
    margin-bottom: 12.7rem;
    padding: 0 1rem;
    &__heading {
        font-family: "Shrikhand", cursive, arial, sans-serif;
        @include flexbox-direction(row);
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem 0rem 1.2rem;
    }
}
@mixin checked  {
    display:block;
    }

$menu-details: 
    starter,
    dish,
    dessert;

 @mixin menu-details ($list: $menu-details) {
    @each $value in $list {
        & .#{$value}__menu {
            position:relative;
            @include flexbox-direction(row);
            @include box-shadow ($color-shadow: map-get($color-gray, background-search-bar), $offset-y: 5px, $blur-radius: 10px, $spread-radius: 2px);
            border-radius: 1rem;
            padding: 0.3rem 1rem 0rem 0.5rem;
            align-items: flex-end;
           justify-content: space-between;
            background:$color-white;
            margin-bottom:1rem;
            box-sizing:border-box;
            cursor:pointer;
        }
        label{
            white-space:nowrap;
            appearance:none;
            cursor:pointer;
            display:block;
            text-overflow:ellipsis;
            overflow:hidden;
        }
        .#{$value}__details {
            @include flexbox-direction;
            line-height: 0.5rem;

        }
        .#{$value}__price {
            @include flexbox-direction;
            line-height: 0.5rem;
        }
    }  
 } 
 
 @mixin form-menu-fieldset($list: $menu-details) {
    @each $value in $list {
        &__#{$value} {
            position: relative;
            @include flexbox-direction;
           
            justify-content: space-around;          
        }
    }   
}

.form-menu {
    @include flexbox-direction;
    justify-content: space-between;
    height: 70rem;
    appearance: none;
    padding-bottom: 5rem;
    @include form-menu-fieldset;
    legend {
        &::after {
            content: "";
            height: 0.2rem;
            width: 2.5rem;
            background: $color-tertiary;
            position: absolute;
            top: 2rem;
        }
        h2 {
            font-size: 1rem;
            font-weight: 500;
        }       
    }
    @include menu-details;
    input[type=checkbox] {
        position: absolute;
        height: 0;
        width: 0;
       
       
    }

    /*span:checkbox-animation*/

    span {
        display:none;
        background: $color-tertiary;
        padding: 1.5rem;
        border-radius: 0 1rem 1rem 0;
        color: $color-white;
       

        
       
        & .circle-checked {
            vertical-align: middle;
            height: 40%;
            font-size: 1.5rem;  
        }
    }      
}

/*checkbox-animation sans animation*/

 .starter__menu:hover, .dish__menu:active, .dessert__menu:active {
    padding: 0rem 0rem 0rem 0.5rem;
    overflow:hidden;
    span {
        display:block;
        animation: checkbox-animation 1s ease-in;
        

    }

  
                  
}
@keyframes checkbox-animation {
    0%{
        transform:translateX(9999px);
       

    }
    100%{

    }
}

.button-primary {
    width:13rem;
    margin: 0rem auto;
}


    







