/*checkbox-animation*/
label{
            
    appearance:none;
    cursor:pointer;
    
    
    & > p{
        
        transform-origin: left;
       
        transition: transform ,text-overflow ;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;

        
        
    }
    

}

.starter__price, .dish__price, .dessert__price{
    transform-origin:right;
    transform:translateX(0);
    transition: transform  1s ease-in-out;
    
}
.checkbox-animation {
  /*  display:none;*/
    background: $color-tertiary;
    padding: 1.6rem;
    border-radius: 0 0.8rem 0.8rem 0;
    color: $color-white;
    transform-origin:right;
    transform:scaleX(0);
    transition: transform 1s ease-in-out;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    z-index:0;
    box-sizing:border-box;
    @include tablet {
        border-radius: 0 1.2rem 1.2rem 0;
        padding: 2rem;
    }
    @include desktop-large {
        padding: 1.8rem;
    }

    & .circle-checked {
        font-size: 1.3rem; 
      /*  transform:  rotate(-360deg) scaleX(1);
        transition: transform 1s ease-in-out;*/
        display:block;
        position:absolute;
        top: 2rem;
        right: 0.9rem;
        transform:scale(0.9,1.1);
        @include small-mobile{
            top: 2rem;
        }
        @include tablet {
          /*  transform:rotate(-360deg) scaleY(1);*/
            font-size: 1.8rem;
            top: 3.2rem;
            right:1.1rem;
          
        }
        @include desktop-large {
            right: 1.1rem;
        }
    }
} 







.starter__menu:hover, .dish__menu:hover, .dessert__menu:hover {
    @include desktop {
    @include checkbox-cursor;
    }
                    
}

.starter__menu:active, .dish__menu:active, .dessert__menu:active {
   
         @include checkbox-cursor;
                    
    
}




@keyframes rotate-check {
    0%{
        transform:rotate(-360deg)/* scale(1,1); */;
    }
    100%{
        transform:rotate(360deg) /*scale(0.9,1.1);*/ scaleX(0.9);
    }
}