/*checkbox-animation*/
label{
            
    appearance:none;
    cursor:pointer;
    
    
    & > p{
        
        transform-origin: left;
       
        transition: transform ,text-overflow ;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;

        
        
    }
}

.starter__price, .dish__price, .dessert__price{
    transform-origin:right;
    transform:translateX(0);
    transition: transform  1s ease-in-out;
    
}
.checkbox-animation {
  /*  display:none;*/
    background: $color-tertiary;
    padding: 1.6rem;
    border-radius: 0 1rem 1rem 0;
    color: $color-white;
    transform-origin:right;
    transform:scaleX(0);
    transition: transform 1s ease-in-out;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    z-index:0;

    & .circle-checked {
        font-size: 1.3rem; 
        transform:  rotate(-360deg) scaleX(1);
        transition: transform 1s ease-in-out;
        display:block;
        position:absolute;
        top: 2rem;
        right: 0.9rem;
        @include small-mobile{
            top: 2rem;
        }
    }
} 


.starter__menu:active, .dish__menu:active, .dessert__menu:active {
    
    @include checkbox-cursor;
                    
}

@include desktop{
    .starter__menu:hover, .dish__menu:hover, .dessert__menu:hover {
        @include checkbox-cursor;
                        
        }
}    