
@mixin flexbox-direction($direction:column) {
    display: flex;
    flex-direction: $direction;
}

/*search-bar*/


@mixin gradient-search-bar($color1: map-get($color-gray, background-search-bar),$color2: map-get($color-gray, background-search-bar), $degrees: 10%){
    $color1: darken-opacity-search-bar($color1);
    background: linear-gradient($color1 $degrees, $color2); 
   
}

@mixin button-primary($color1:$color-secondary ,$color2:$color-primary){
    padding: 1rem;
    border-radius: 2rem;
    border:none;
    color: $color-white;
    background: linear-gradient( $color1, $color2);
    box-shadow: 0px 10px 20px -5px rgb(map-get($color-gray, dark-gray),0.5);
    @include tablet{
        padding:1.5rem;
        border-radius:2.5rem;
    }

}
@mixin box-shadow ($color-shadow: rgb(map-get($color-gray, dark-gray),0.6), $offset-y:10px,$blur-radius: 20px, $spread-radius:-2px) {

    box-shadow: 0px $offset-y $blur-radius $spread-radius $color-shadow ;

}


/*gallery-restaurants homepage*/
@mixin object-position ($map) {
    @each $key, $value in $map {
        &.#{$key}{
            object-position:center map-get($value,object-position);
        }
    }
}
/*page-menu form*/

@mixin menu-details ($list: $menu-details) {
    @each $value in $list {
        & .#{$value}__menu {
            position:relative;
            @include flexbox-direction(row);
            @include box-shadow ($color-shadow: map-get($color-gray, background-search-bar), $offset-y: 5px, $blur-radius: 10px, $spread-radius: 2px);
            border-radius: 1rem;
            padding: 0.3rem 1rem 0rem 0.5rem;
            align-items: center;
            height: 5rem;
            background:$color-white;
            margin-bottom:1rem;
            box-sizing:border-box;
            cursor:pointer;
            @include tablet {
                min-height: 8rem;
            }
        }
       
        .#{$value}__details {
            @include flexbox-direction;
            
           /* white-space: nowrap;*/
            label {
                p{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 1rem;
                    margin-top: -0.8rem;
                    @include small-mobile{
                        font-size: 0.8rem;
                    }
                    @include tablet {
                        font-size: 100%;
                    }
                   
                   
                }
              
                .dish--beef{
                   width: 98%;
                }
                .dessert--ice{
                    @include small-mobile{
                        width: 83%;
                    }

                }

                .dessert--tiramisu{
                    @include small-mobile {
                        width: 70%;
                    }
                   
                }
          
            }
            

        }
        .#{$value}__price {
            @include flexbox-direction;
            font-size: 0.8rem;
            text-align:right;
            position:absolute;
            top:34px; 
            right:20px;
            z-index:1;
            @include small-mobile{
            top: 34px;
           }
           @include tablet {
            font-size: 90%;
           }
            
           
        }
    }  
 } 

 @mixin form-menu-fieldset($list: $menu-details) {
    @each $value in $list {
        &__#{$value} {
            position: relative;
            @include flexbox-direction;
            margin: 0;
            padding: 0;
            border:none;
            justify-content: space-around;
            @include tablet {
                width: 80vw;
                padding-left: 1rem;
                padding-right: 1rem;
                border: 2px groove rgb(192, 192, 192);

            }          
        }
    }   
}

@mixin fadein {
    @for $i from 1 through 2 {
         .form-menu--#{$i}-fadein{
            animation-delay:$anim-dur $anim-delay*$i;
            animation: fadein $anim-dur both;
          

        } 

       
    }
}

/* responsive*/
@mixin small-mobile {
    @media screen and (max-width:360px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width:768px) and (max-width:991px) and (orientation:portrait), (min-width:768px) and (max-width:1024px){
        @content;
    }
  }
  @mixin tablet-landscape {
    @media screen and (min-width:991px) and (max-width:1024px) and (orientation:landscape){
        @content;
    }
  }
  
  @mixin desktop{
    @media screen and (min-width:992px){
        @content;
    }
  }

  @mixin desktop-large{
    @media screen and (min-width:1200px){
        @content;
    }
  }

@mixin checkbox-cursor {
    /*padding: 0rem 0rem 0rem 0.5rem;*/
    overflow: hidden;
    
   
    .checkbox-animation {
         display:flex; 
         transform:scaleX(1.35);
         .circle-checked{
             transform:rotate(360deg) scaleX(0.9);
        }   

    }
    .starter__price, .dish__price, .dessert__price{
       
        margin-right: 1rem;
        margin-left: -3rem;
        transform:translateX(-45px);
       
    }
    label{

        p,h3{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow :hidden;
            
            
           
    
        }
        p{
           line-height: 2rem;
           transform: scaleX(0.9);
        }

    }
        /* paragraph width-ellipsis: " menu palette du goût" */
        
        .starter--duck {
            width: 57%;
            @include small-mobile {
                width:58%;
            }
        }
        .starter--egg {
            width: 90%;
        }
        
        .dish--beef{
            width: 98%;
            @include small-mobile {
                width: 84%;
            }
        }
        .macaroon{
            @include small-mobile {
                width:70%;
                
            }
            
        }
 
      /*  .dish--beef{
            width: 77%!important;
        }*/
        .queue-de-boeuf {
            @include small-mobile{
                width: 87%;
                
            }
        }
        .dish--beef-parmentier {
            width: 87%;
        }
      
        .dish--mada{
            @include small-mobile {
                width:57%;
            }
        }
        .dessert--mousse {
            width: 77%;
            
        }

        /* "french menu" */
       
        .dish--potatoes{
            width: 85%;
        }
        .dish--parmentier {
            width: 91%;
        }
      
        .dish--gnocchis{
            width:81%;
        }

        /* "la note enchantée" */
        
        .starter--ravioli{
            width: 91%;
        }
        .starter--lobster{
            @include small-mobile {
            width: 70%;
            }
        }
        .foie-gras {
            @include small-mobile {
                width:70%;
            }
        }
        .saint-jacques {
            @include small-mobile {
                width: 80%;
            }
        }
        .macaroon-hazelnut {
            @include small-mobile{
                width: 70%;
            }
        }
        
       
        .dessert--ice{
            width: 83%;
        }

        /* "le delice des sens"*/
        .crisp-lobster{
            @include small-mobile {
            width: 70%;
            }
        }

        .dessert--tiramisu {
            width: 70%;
        }    
        .dessert--mousse{
        @include small-mobile {
            width:75%;
        }
        
         }
       
        .roast-chicken{
            @include small-mobile {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display:inline-block;
                width:70%;

            }
        }
      
  
    .starter__details, .dish__details, .dessert__details {
     
       line-height:1rem;
      

    }

 }

