/* color*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white:#fff;
$color-black: #000;
$color-gray:(
    dark-gray:#353535,
    main-background:#f6f6f6,
    background-search-bar: #eaeaea,
    icon:#7e7e7e);