/* color*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white:#fff;
$color-black: #000;
$color-gray:(
    dark-gray:#353535,
    main-background:#f6f6f6,
    background-search-bar: #eaeaea,
    icon:#7e7e7e);

$img-restaurant:(
    la-palette-du-gout:(
        object-position: 111%,
    ),
    la-note-enchantee:(
        object-position:60%, 
    ),
    a-la-francaise:(
        object-position:109%,
    ),
    le-delice-des-sens:(
        object-position:108%,
    )
    ); 
    
/*page-menu*/

$menu-details: 
    starter,
    dish,
    dessert;
/* animation fade-in*/
$anim-dur:2s;
 $anim-delay: calc($anim-dur / 3);


  