

.booking {
    &-menu{
        @include flexbox-direction ;
        text-align: center;
        background: map-get($color-gray, main-background);
        appearance: none;  
    }
    &-form {
        @include flexbox-direction;
        
        color: map-get($color-gray, dark-gray);
        &__search-bar {
            @include flexbox-direction(row);
            @include gradient-search-bar;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 3rem;
            @include tablet {
                height: 5rem;
            }
            
            >.icon-location {
                position: relative;
                left:6%;
                
            }
            >.search-field {
                position:relative;
                left: 10%;
                input{
                box-sizing: border-box;
                padding: 0.8rem 0rem;
                background:none;
                border:0;
                font-weight: 700;
                color: map-get($color-gray,dark-gray);
                @include tablet {
                    font-size: 1.8rem;
                }
    
                }
                
            }
    
        }  
        &__call-to-action {
            @include flexbox-direction;
            margin:0 auto;
            padding: 2rem 2rem 3.5rem;
            label {
                appearance: none;
                width: 80%;
                margin: 0 auto;
                h1 {
                    font-weight:900;
                    margin:0;
                    color:$color-black;
                 }
               
            }
            p{
                @include tablet {
                    white-space: pre-wrap;
                }
            }

            @import "../components/button-primary";
            
            
            
        }
    }
   
}

