

@mixin tablette {
    @media screen and (min-width:768px) and (max-width:991px) and (orientation:portrait), screen and  (min-width:768px) and (max-width:1024px) and (orientation:landscape){
        @content;
    }
}
@mixin tablette-landscape {
    @media screen and (min-width:991px) and (max-width:1024px) and (orientation:landscape){
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width:992px){
        @content;
    }
}
body{
    @include tablette {
        width:auto;
    }
    @include tablette-landscape{
        width: auto;
    }
    @include desktop {
        width:auto;
    }
}



main {
    @include flexbox-direction;
    @include tablette {
        width:auto;
    }
    @include desktop{
        max-height:80rem;
        flex-wrap:wrap;
        width:auto;
    }
}

/*booking-menu*/
@import "../layouts/booking-form";



/* fonctionnement*/

.proceeding-site {
    @include flexbox-direction;
    padding:0 1rem; 
    @include desktop{
    width:30vw;
    padding:0 2rem;
    }    
} 

.proceeding {
    @include flexbox-direction;
    height: 16rem;
    justify-content: space-between; 
    padding-left: 0.5rem; 
    box-sizing:border-box;
    width:100%; 
    
        &__steps {
            @include flexbox-direction(row);
            border-radius: 1.5rem;
            @include box-shadow ($color-shadow: map-get($color-gray, background-search-bar), $offset-y: 5px, $blur-radius: 10px, $spread-radius: 1px);
            align-items: center;
            position: relative;  
            padding: 1rem 0.8rem 0.5rem 0.8rem;
            background: map-get($color-gray,main-background);
        >span {
            position: absolute;
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
            border-radius:1rem;
            background: $color-primary;
            align-items: center;
            justify-content: center;
            color: $color-white;
            font-size:0.8rem;
            left:-0.7rem;

        }
        .steps {
            &__icon{
                margin: 0 1.5rem;
                color:map-get($color-gray, icon);
                font-size: 1.1rem;   
            }
            &__icon--purple{
                color:$color-primary;
            }
            &__heading{
                font-size: 1rem;
                
            }  
        }
    }
} 


/*Gallery-restaurant*/

.gallery{
    &-restaurants {
        padding: 0 1rem;
        background: map-get($color-gray,main-background);
        margin-top: 4rem;
        padding-bottom: 4rem;
        box-sizing:border-box;
        @include tablette {
            width:auto;
        }
        @include desktop{
            width:auto;
            margin-top:0rem;
        }
        @include flexbox-direction;
        .gallery-flex-between {
            height: 63rem;
            @include flexbox-direction;
                justify-content: space-between;
                flex-wrap: wrap;
                align-content: space-evenly;
            @include tablette {
                max-height: 32rem;
                flex-direction: row;
                flex-wrap: wrap;
                
            }
           
        }
    }
    &__card {
        background: $color-white;
        @include flexbox-direction;
        @include box-shadow ($color-shadow: map-get($color-gray, background-search-bar), $offset-y: 5px, $blur-radius: 10px, $spread-radius: 1px);
        border-radius: 1rem;
        box-sizing: border-box;
        width:100%;
        @include tablette {
            width:45vw;
            
        }
        @include tablette-landscape{
            width: 60vw;
        }
        @include desktop {
            
        }
        > a{
            position:relative;
            width:100%;
        }

    }  
}


    .card {
        &__image {
            position: relative;
            box-sizing: border-box;
            max-height: 11rem;
            &.card__image {
                &--min-height {
                min-height: 11rem;
                }
            }
            >span {
                position: absolute;
                right: 0.8rem;
                top: 0.8rem;
                background: $color-tertiary;
                padding: 0.5rem 0.6rem 0.3rem;
                color: label-new($color: $color-tertiary);
                font-weight: 700;
                border-radius: 0.2rem;
            }
            img {
                width: 100%;
                object-fit: cover;
                max-height: 11rem;
                border-radius: 1rem 1rem 0 0;
                @include object-position($img-restaurant);
                overflow:hidden;
            }     
        }
        &__description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.5rem 1rem 0.8rem;
            box-sizing: border-box;
            &.card__description {
                &--padding {
                padding: 0.3rem 1.5rem 1rem 0.8rem;
                }
                &--margin-top {
                    margin-top: -0.1rem;
                }

            }
            .description { 
                &__text {
                @include flexbox-direction;
                line-height: 0.5rem;
                }
            }
        } 
    }
