

main{
    @include flexbox-direction;
    width:100%;
    @include desktop {
        align-items: center;
        
    }
}

/*banner-menu*/

.banner-menu {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    position: relative;
    @include desktop {
        justify-content: center;
        
        width:100%;
    }

    img {
        width:100%;
        object-fit: cover;
        position: absolute;
         z-index: -1;
        min-height: 17.2rem;
        &.img--max-height {
             max-height: 17.2rem;
        }
        @include tablet-landscape {
            width:100%!important;
        }
        @include desktop {
            width: 95%;
          
        }          
     } 
}

.menu {
    @include flexbox-direction;
    background: map-get($color-gray, main-background);
    border-radius: 2.5rem 2.5rem 0 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: 13.8rem;
    margin-bottom: 12.7rem;
    padding: 0 1rem;
    @include tablet {
        padding: 0;
        top: 25.8rem;
        margin-bottom: 25.7rem;
        border-radius: 4.5rem 4.5rem 0 0;
    }
    @include tablet-landscape {
        top: 27rem!important;
        width: 100vw!important;
        margin-bottom: 27rem!important;
    }
    @include desktop {
        top: 27rem;
        width: 94vw;
        margin-bottom: 30rem;
       
    }
    &__heading {
        font-family: "Shrikhand", cursive, arial, sans-serif;
        @include flexbox-direction(row);
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem 0rem 0rem;
        @include tablet {
            font-size: 120%;
            padding-left: 2rem;
        }
        @include desktop {
            padding-left: 2rem;
        }
    }
    .icon-like {
        right: 3%;
      
    }
}


.form-menu {
    @include flexbox-direction;
    justify-content: space-between;
    height: 70rem;
    appearance: none;
    padding-bottom: 5rem;
    @include tablet {
        align-items:center;
        min-height: 120rem;
        padding-bottom: 7rem;
    }
    @include tablet-landscape {
        min-height: 130rem!important;
        padding-bottom: 8rem;
    }
    @include desktop {
        align-items: center;
        min-height: 90rem;
    }
    @include desktop-large {
        min-height: 90rem;
    }
    @include form-menu-fieldset;
    legend {
        &::after {
            content: "";
            height: 0.2rem;
            width: 2.5rem;
            background: $color-tertiary;
            position: absolute;
            top: 2rem;
            @include tablet {
                top: 3rem;
                width:4rem;
            }
        }
        h2 {
            font-size: 1rem;
            font-weight: 500;
            @include tablet {
                font-size: 100%;
            }
        }       
    }
    @include menu-details;
    input[type=checkbox] {
       
        display:none;
       
       
    }
    


    
    &.form-menu--note-enchantee {
        padding-bottom: 15rem;
    }    
}




.button-primary {
    width: 13rem;
    margin: 0rem auto;
    @include tablet {
        width: 20rem;
        padding: 2rem;
        border-radius: 3rem;
        font-size: 110%;
        margin-top: 4rem;
        
    }

    @include tablet-landscape{
        margin-top: 0rem;
    }
    @include desktop-large {
        width: 16rem;
        padding: 1.5rem;
        border-radius: 2.5rem;
        font-size: 130%;
    }
}
 



    