main {
    @include flexbox-direction;
    @include tablet {
        width:auto;
    }
    @include desktop {
        flex-flow: row wrap;
        width: auto;      
    }
}

/*booking-menu*/

@import "../layouts/booking-form";

/*functioning*/

.proceeding-site {
    @include flexbox-direction;
    padding:0 1rem; 
    width: 100%;
    box-sizing: border-box;
    @include desktop {
        width: 35vw;
        padding: 0 2rem;
        margin-top: 2rem;
    } 
    @include desktop-large {
        margin-right: 1rem;
        padding: 0 3rem;
    }      
    @include tablet {
        padding: 0 2rem;
        width: 100vw;   
    }
    @include tablet-landscape {
        width: 100vw;
    }   
} 

.proceeding {
    @include flexbox-direction;
    height: 16rem;
    justify-content: space-between; 
    padding-left: 0.5rem; 
    box-sizing: border-box;
    width: 100%; 
    @include tablet {
        height: 24rem;
    }
    &__steps {
        @include flexbox-direction(row);
        border-radius: 1.5rem;
        @include box-shadow ($color-shadow: map-get($color-gray, background-search-bar), $offset-y: 5px, $blur-radius: 10px, $spread-radius: 1px);
        align-items: center;
        position: relative;  
        padding: 1rem 0.8rem 0.5rem 0.8rem;
        background: map-get($color-gray, main-background);
        > span {
            position: absolute;
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1rem;
            background: $color-primary;
            align-items: center;
            justify-content: center;
            color: $color-white;
            font-size: 0.8rem;
            left: -0.7rem;
            @include tablet {
                font-size: 70%;
                width: 2rem;
                height: 2rem;
                left: -2.5%;
            }
        }
        .steps {
            &__icon{
                margin: 0 1.5rem;
                color: map-get($color-gray, icon);
                font-size: 1.1rem;
                display: flex;
                @include tablet {
                    font-size: 90%;
                }   
            }
            &__icon--purple {
                color: $color-primary;
            }
            &__heading {
                font-size: 1rem;
                @include tablet {
                    font-size: 100%;
                }               
            }  
        }
    }        
}

/*Gallery-restaurant*/

.gallery{
    &-restaurants {
        padding: 0 1rem;
        background: map-get($color-gray,main-background);
        margin-top: 4rem;
        padding-bottom: 4rem;
        box-sizing: border-box;
        width: 100%;
        @include flexbox-direction;
        h2 {
            @include desktop {
                padding-left: 2rem;
            }
            @include tablet {
                padding-left: 1.5rem;       
            } 
        }
        @include desktop {
            width: auto;
            margin-top: 2rem;
            width: 60vw;
            padding-bottom: 1rem;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 2rem;
            margin-right: 2rem;
        }
        @include desktop-large {
            margin-right: 0;
        }
        @include tablet {
            width: auto;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        @include tablet-landscape {
            width: 100vw;
            margin-right: 0;
            margin-bottom: 0;
            padding-bottom: 4rem;   
        }  
        .gallery-flex-between {
            height: 63rem;
            @include flexbox-direction;
                justify-content: space-between;
                align-content: space-evenly;
            @include desktop {
                flex-flow: row wrap;
                max-height: 40rem;
                justify-content: space-evenly;
                margin-top: -2rem;
            }
            @include tablet {
                max-height: 46rem;
                flex-flow: row wrap;
                justify-content: space-evenly;               
            }
            @include tablet-landscape {
                max-height: 50rem;
                margin-top: 0;
            }         
        }
    }
    &__card {
        background: $color-white;
        @include flexbox-direction;
        @include box-shadow ($color-shadow: map-get($color-gray, background-search-bar), $offset-y: 5px, $blur-radius: 10px, $spread-radius: 1px);
        border-radius: 1rem;
        box-sizing: border-box;
        width: 100%;
        @include desktop {
            width: 26vw;
            max-height: 19rem;   
        }
        @include desktop-large {
            width: 26.5vw;
            min-height: 17rem;
        }
        @include tablet {
            width: 43vw;
            min-height: 20rem;      
        }
        @include tablet-landscape {
            width: 45vw;
            min-height: 22rem;
        }   
        > a {
            position: relative;
            width: 100%;
        }

    }  
}

.card {
    &__image {
        position: relative;
        box-sizing: border-box;
        width:100%;
        > span {
            position: absolute;
            right: 0.8rem;
            top: 0.8rem;
            background: $color-tertiary;
            padding: 0.5rem 0.6rem 0.3rem;
            color: label-new($color: $color-tertiary);
            font-weight: 700;
            border-radius: 0.2rem;
            @include tablet {
                font-size: 75%;
            }
        }
        img {
            width: 100%;
            object-fit: cover;
            max-height: 11rem;
            border-radius: 1rem 1rem 0 0;
            @include object-position($img-restaurant);
            overflow: hidden;
            @include desktop {
                min-height: 13rem;             
            }
            @include tablet {
                max-height: 13rem;
            }
            @include tablet-landscape {
                max-height: 15rem;
            }
            &.la-note-enchantee {
                @include desktop-large {
                    min-height: 12.6rem;
                    max-height: 12.6rem
                }
                @include tablet-landscape {
                    max-height: 14.6rem;
                }
            }
        }     
    }
    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem 1rem 0.8rem;
        box-sizing: border-box;
        margin-top: -0.5rem;
        position: relative;
        @include desktop {
            margin-top: -0.1rem;
        }
       @include tablet {
        margin-top: 0rem;
        }
        @include tablet-landscape {
            margin-top: -0.3rem;
        }
        &.card__description--margin-top{
            margin-top: -0.1rem;
            @include desktop-large {
                margin-top: 0.3rem;
            }
            @include tablet {
                margin-top: 0rem;
            }              
        }
        .description { 
            &__text {
            @include flexbox-direction;
            line-height: 0.3rem;
            @include desktop {
                font-size: 86%;
                line-height: 0.4rem;
            }
            @include desktop-large {
               line-height: 0.4rem;
            }
            @include tablet {
                line-height: 0.4rem;
            }
            @include tablet-landscape {
                line-height: 1rem;
            }
                h3 {
                    font-size: 1.1rem;
                    @include tablet {
                        font-size: 110%;
                    }
                }
                address {
                    font-style: normal;
                }
            }
        }
    } 
}   
