

  body{
  
    @include tablet-landscape{
        width: auto;
    }
    @include desktop {
        width:auto;
    }
  }




main {
    @include flexbox-direction;
    @include tablet {
        width:auto;
    }
    @include desktop{
        flex-wrap: wrap;
        flex-direction: row;
        width:auto;
        
    }
}

/*booking-menu*/
@import "../layouts/booking-form";

/* fonctionnement*/

.proceeding-site {
    @include flexbox-direction;
    padding:0 1rem; 
    width: 100%;
    box-sizing: border-box;
    @include tablet {
        padding: 0 2rem;
        width: 100vw;
        
    }
    @include tablet-landscape {
        width: 100vw !important;
    } 
    
    @include desktop {
    width: 35vw;
    padding: 0 2rem;
    margin-top: 2rem;
    } 
    @include desktop-large{
        margin-right: 1rem;
    }
      
} 

.proceeding {
    @include flexbox-direction;
    height: 16rem;
    justify-content: space-between; 
    padding-left: 0.5rem; 
    box-sizing: border-box;
    width: 100%; 
    @include tablet {
        height: 24rem;
    }
    
    &__steps {
        @include flexbox-direction(row);
        border-radius: 1.5rem;
        @include box-shadow ($color-shadow: map-get($color-gray, background-search-bar), $offset-y: 5px, $blur-radius: 10px, $spread-radius: 1px);
        align-items: center;
        position: relative;  
        padding: 1rem 0.8rem 0.5rem 0.8rem;
        background: map-get($color-gray,main-background);
        >span {
            position: absolute;
            display: flex;
            width: 1.5rem;
            height: 1.5rem;
            border-radius:1rem;
            background: $color-primary;
            align-items: center;
            justify-content: center;
            color: $color-white;
            font-size: 0.8rem;
            left: -0.7rem;
            @include tablet {
                font-size: 70%;
                width: 2rem;
                height: 2rem;
                left: -2.5%;
            }
        }
        .steps {
            &__icon{
                margin: 0 1.5rem;
                color:map-get($color-gray, icon);
                font-size: 1.1rem;
                display:flex;
                @include tablet {
                    font-size: 90%;
                }   
            }
            &__icon--purple{
                color:$color-primary;
            }
            &__heading{
                font-size: 1rem;
                @include tablet {
                    font-size: 100%;
                }
                
            }  
        }

    }
        
}



/*Gallery-restaurant*/

.gallery{
    &-restaurants {
        padding: 0 1rem;
        background: map-get($color-gray,main-background);
        margin-top: 4rem;
        padding-bottom: 4rem;
        box-sizing:border-box;
        width:100%;
        h2{
            @include tablet {
                padding-left: 1.5rem;
                
            }
           
            @include desktop {
                padding-left: 2rem;
            }
           
        }
        @include tablet {
            width:auto;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        @include tablet-landscape {
            width: 100vw !important;
            margin-right:0rem !important;
            margin-bottom: 0!important;
            padding-bottom:4rem!important;
           
            
        }
        @include desktop{
            width:auto;
            margin-top:2rem;
            width: 61vw;
            padding-bottom:1rem;
            padding-left:0rem;
            padding-right:0rem;
            margin-bottom: 2rem;
            margin-right: 2rem;
        }
        @include desktop-large {
            width:60vw;
        }
       /* @include desktop-large {
            width:50vw;
        }*/
        @include flexbox-direction;
        .gallery-flex-between {
            height: 63rem;
            @include flexbox-direction;
                justify-content: space-between;
               /* flex-wrap: wrap;*/
                align-content: space-evenly;
            @include tablet {
                max-height: 46rem;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                
            }
            @include tablet-landscape {
                max-height: 50rem !important;
                margin-top: 0!important;
            }
            @include desktop {
                flex-direction:row;
                flex-wrap:wrap;
                max-height: 40rem;
                justify-content: space-evenly;
                margin-top: -2rem;
            }
           
        }
    }
    &__card {
        background: $color-white;
        @include flexbox-direction;
        @include box-shadow ($color-shadow: map-get($color-gray, background-search-bar), $offset-y: 5px, $blur-radius: 10px, $spread-radius: 1px);
        border-radius: 1rem;
        box-sizing: border-box;
        width: 100%;
        @include tablet {
            width: 43vw;
            min-height: 20rem;
               
        }
        @include tablet-landscape{
            width: 45vw !important;
            min-height: 22rem!important;
        }
        
        @include desktop {
           width: 26vw;
           min-height: 13rem;
           
        }
        @include desktop-large {
            width:26.5vw;
            min-height: 17rem;
        }
          
      
        > a {
            position: relative;
            width: 100%;
        }

    }  
}


    .card {
        &__image {
            position: relative;
            box-sizing: border-box;
            width:100%;
            >span {
                position: absolute;
                right: 0.8rem;
                top: 0.8rem;
                background: $color-tertiary;
                padding: 0.5rem 0.6rem 0.3rem;
                color: label-new($color: $color-tertiary);
                font-weight: 700;
                border-radius: 0.2rem;
                @include tablet {
                    font-size: 75%;
                }
            }
            img {
                width: 100%;
                object-fit: cover;
                max-height: 11rem;
                border-radius: 1rem 1rem 0 0;
                @include object-position($img-restaurant);
                overflow: hidden;
                @include tablet {
                    max-height: 13rem;
                }
                @include tablet-landscape {
                    max-height: 15rem;
                }
                @include desktop {
                   min-height: 13rem;
                }
                &.la-note-enchantee {
                    @include desktop-large {
                        min-height: 12.6rem;
                     }
                     @include tablet-landscape {
                        max-height: 14.6rem;
                    }
                }
            }     
        }
        &__description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.5rem 1rem 0.8rem;
            box-sizing: border-box;
            margin-top: -0.5rem;
            position: relative;
            @include tablet {
                margin-top: 0;
            }
            @include desktop {
                 margin-top: -0.1rem;
               }
            &.card__description--margin-top{
                margin-top: -0.1rem;
                @include tablet {
                    margin-top: 0;
                }
                @include desktop-large {
                    margin-top: 0.3rem;
                }
               
                
            }
            .description { 
                &__text {
                @include flexbox-direction;
                line-height: 0.5rem;
                @include desktop {
                    line-height: 0.4rem;
                   }
                @include desktop-large {
                   line-height: 0.4rem;
                  }
                }
            }
        } 
    }
