
main{
    @include flexbox-direction;
}

/*banner-menu*/

.banner-menu {
    width: 100%;
    box-sizing: border-box;

    img {
        width:100%;
        object-fit: cover;
        position: absolute;
         z-index: -1;
        min-height: 17.2rem;
        &.img--max-height {
             max-height: 17.2rem;
        }          
     } 
}

.menu {
    @include flexbox-direction;
    background: map-get($color-gray, main-background);
    border-radius: 2.5rem 2.5rem 0 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    top: 12.8rem;
    margin-bottom: 12.7rem;
    padding: 0 1rem;
    &__heading {
        font-family: "Shrikhand", cursive, arial, sans-serif;
        @include flexbox-direction(row);
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem 0rem 1.2rem;
    }
}


.form-menu {
    @include flexbox-direction;
    justify-content: space-between;
    height: 50rem;
    appearance: none;
    padding-bottom: 10rem;
    @include form-menu-fieldset;
    legend {
        &::after {
            content: "";
            height: 0.2rem;
            width: 2.5rem;
            background: $color-tertiary;
            position: absolute;
            top: 2rem;
        }
        h2 {
            font-size: 1rem;
            font-weight: 500;
        }       
    }
    @include menu-details;
    input[type=checkbox] {
       
        display:none;
       
       
    }
    


    
    &.form-menu--note-enchantee {
        padding-bottom: 15rem;
    }    
}




.button-primary {
    width: 13rem;
    margin: 0rem auto;
}
 



    