
/*footer*/

.footer {
    background: map-get($color-gray, dark-gray);
    @include flexbox-direction;
    padding: 1.5rem 2rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    @include desktop {
        height: 17vh;
        justify-content: center;
    }
    @include tablet-landscape{
        min-height: 25vh;
    }  
    &__logo {
        @include desktop {
            position: relative;
            top: -25%;
        }
        @include tablet-landscape{
          position: relative;
          top: -10%;
        }       
    }
    a {
        color: $color-white;
        font-size: 0.9rem;      
    }
    &__heading {
        font-family: 'Shrikhand', cursive, arial, sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        @include desktop {
            font-size:120%;
        }
        @include tablet {
            font-size: 160%;
        }      
    }
    h3 {
        font-weight: 500;
        font-size: 0.9rem;
        text-shadow: 0.03rem -0.02rem;
        @include tablet {
            font-size: 97%;
        } 
        @include tablet-landscape {
            font-size: 100%;
        }      
    }  
    &__bloc-links {
        @include flexbox-direction;
        margin-top: -0.5rem;
        align-items: flex-start;
        @include desktop {
            flex-flow: row wrap;
            width: 100%;
            align-items: baseline;
            justify-content: space-between;
        }
        @include tablet {
            flex-flow: row wrap;
            width: 100%;
            align-items: baseline;
            justify-content: space-between;
            font-size: 95%;
        }      
    }
    &__link {
        height: 1.5rem;
        @include tablet {
            height: 100%;
        }
        &.footer__link {
            &--padding {
                padding-bottom: 0.8rem;
            } 
        }
        a {
            @include flexbox-direction(row);
            align-items: baseline;
            @include tablet {
                font-size: 80%;
            }
            > .footer__icon {
                margin-right: 0.5rem;
                font-size: 0.7rem;
                @include tablet {
                    font-size: 100%;
                }
            }
        }     
    }  
}