/*header*/

header {
    display: flex;
    justify-content: center;
    >.header__logo {
        display: flex;
        .logo-svg {
            padding: 1rem;
            width: 10rem;
            
        }
    }
}