/*header*/

header {
    display: flex;
    justify-content: center;
    
    position:relative;
    >.header__logo {
        display: flex;
        position: relative;
        top: 5px;
        .logo-svg {
            padding: 1rem;
            width: 10rem;
            
        }
    }
    button {
        background:none;
        border:none;
        color:map-get($color-gray,dark-gray);
        text-shadow:0rem -0.01rem;
        position:absolute;
        left:1.5rem;
        top:1.5rem;
        font-size: 1.2rem;
        
        
        
       
       
    }
}

