/*header*/

header {
    display: flex;
    justify-content: center;
    
    position:relative;
    @include desktop {
      
    }
    >.header__logo {
        display: flex;
        position: relative;
        top: 5px;
        @include tablet {
            top: 10px;
        }
        @include desktop {
        
        }
        .logo-svg {
            padding: 0.8rem;
            width: 10rem;
            @include tablet {
                padding: 2rem;
                width: 15rem;
                height: 45px;
            }
            }
            
        }
    
    button {
        background:none;
        border:none;
        color:map-get($color-gray,dark-gray);
        text-shadow:0rem -0.01rem;
        position:absolute;
        left:1.5rem;
        top:1.5rem;
        font-size: 1.2rem;
        
        
        
       
       
    }
}

